# Binary
cmd/ubuntu-image/ubuntu-image
ubuntu-image

# Generated binaries and corresponding assets
build/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Images built in the file tree
*.img
*.qcow2

# Packaging artefacts
debian/*debhelper*
debian/ubuntu-image.substvars
debian/files
obj-*
vendor/

# snap
ubuntu-image*.snap

# Work dirs
tmp/