Package: ubuntu-image-dbgsym
Package-Type: ddeb
Source: ubuntu-image
Version: 2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Lukasz 'sil2100' Zemczak <lukasz.zemczak@ubuntu.com>
Installed-Size: 1164
Depends: ubuntu-image (= 2)
Section: debug
Priority: optional
Description: debug symbols for ubuntu-image
Build-Ids: 30bb2d131f76ecc54c44025603139d3366040238
