Package: ubuntu-image
Version: 2
Architecture: amd64
Maintainer: Lukasz 'sil2100' Zemczak <lukasz.zemczak@ubuntu.com>
Installed-Size: 3818
Depends: libc6 (>= 2.32)
Section: utils
Priority: optional
Homepage: http://launchpad.net/ubuntu-image
Description: toolkit for building Ubuntu images.
 .
 This package contains the ubuntu-image program.
