name: TIOBE Quality Checks

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * TUE'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: build go binary
        run: CGO_ENABLED=0 go build -tags snapdusergo ./...

      - name: apt-update
        run: sudo apt update

      - name: install-test-dependencies
        run: sudo apt install -y snapd germinate e2fsprogs mtools debootstrap eatmydata fdisk gdisk qemu-system-aarch64 qemu-user-static ubuntu-dev-tools

      - name: run tests
        run: sudo go test -timeout 0 -v -coverprofile=.coverage/coverage-long.out -coverpkg $(go list ./... 2> /dev/null | tr '\n' ",") -covermode=atomic ./...

      - name: Upload coverage report to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-image-coverage-long
          path: .coverage/coverage-*.out
          retention-days: 1
          if-no-files-found: error
          include-hidden-files: true
  
  TiCS:
    runs-on: [self-hosted, reactive, amd64, tiobe, noble]
    needs: test
    if: ${{ github.repository == 'canonical/ubuntu-image' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
          persist-credentials: false

      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Download coverage report artifact
        uses: actions/download-artifact@v4
        with:
          name: ubuntu-image-coverage-long
          path: .coverage

      - name: Install dependencies
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          go install github.com/axw/gocov/gocov@latest
          go install github.com/AlekSi/gocov-xml@latest

      - name: Convert report to xml
        run: |
          cd .coverage && \
          gocov convert coverage-long.out > coverage.json && \
          gocov-xml < coverage.json > coverage.xml

      - name: TiCS GitHub Action
        uses: tiobe/tics-github-action@b9861e16fd5d38624516fcd3e49e233c133ebaf3 # 3.5.0
        with:
          mode: qserver
          viewerUrl: https://canonical.tiobe.com/tiobeweb/TICS/api/cfg?name=GoProjects
          ticsAuthToken: ${{ secrets.TICSAUTHTOKEN }}
          project: ubuntu-image
          installTics: true
